a{
	text-shadow: none;
	color: rgb(105, 2, 105);
	text-decoration: none;
}



.col{
	margin: 0;
	padding: 0;
}

.corpo{
	margin: 0;
	padding: 0;
    font-style: Helvetica;
	background-image:url("nebula.jpg");
	background-attachment: fixed;
    background-position: center;
	color: rgb(255, 255, 255);
}

.row{
	margin: 0;
	padding: 0;
}

h1{
    text-align: center;
    margin-top: 20px;
	margin-bottom: 0;
}

#cabeca{
	margin: 0;
	padding: 0;
    height: 8%;
    background-image: linear-gradient(to right,rgb(74, 74, 255), blue,indigo,rgb(30, 1, 51));
    color: white;
}


.container-fluid{
	padding: 0;
	margin: 0;
}

.feito{
    text-align: center;
    vertical-align:bottom ;
    margin-bottom: 5px;
}

.exp{
    text-align: justify;
    padding-right: 8%;
    padding-left: 8%;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
	font-size: 250%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	border: 5px solid;
	border-radius: 15px;
}


table{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	border-style: solid ;
	
}

td{
	border-color:grey;
	background-color:rgba(192,192,192,0.5);
    width: 60%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}



.menu{
	width: 100%;
}
	
.menu ul{
	padding: 0;
    margin: 0;
	list-style:none;	
	position:relative;
	margin-left:0px;
}
  
.menu ul li{
	padding: 0;
    margin: 0;
	float:left;
}

.menu a{
	padding: 0;
    margin: 0;
	padding:15px;
	display:block;
	text-decoration: none;
	background-color:rgb(65, 61, 61);
    text-align:center;
    color: #fff;
}
  
.menu ul ul{
  list-style:none;
  position:absolute;
  visibility:hidden;
  overflow:hidden;
  max-height:0;
  transition:all .4s;
}

.menu ul li:hover ul{
  visibility:visible;
  height:auto;
  max-height: 1000px;
  transition:all .4s;
}

.menu a:hover{
  background-color:#fffbfb;
  color: #555;
	}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px white;
  }
  
.menu ul li{
	background-color:#069;
  }


  
/* responsivo */

#bt_menu{
	display: none;
	}
label[for='bt_menu']{
	background-color:#222;
	color:#fff;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	height:50px;
	}	
label[for='bt_menu']:hover{
	background-color:white;
	color:#aaa;
	}

.menu{
	position: absolute;
	visibility: hidden;
	transition:all .4s;
	}
label[for='bt_menu']{
	display:block;
	}
.menu>ul{
	margin-left:0;
	}
.menu{
	margin-top:0px;
	}
.menu ul li{
	float:none;
	}
.menu ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
	}
.menu ul li:hover ul{
	height:auto;
	max-height:200px;
	transition:all .4s;
	}
#bt_menu:checked ~ .menu{
	width: 100%;
	visibility:visible;
	}

